.box
{
    width:500px;
    height:500px;
    background-color: pink;
    background-image: url(https://static.vecteezy.com/system/resources/previews/026/525/162/non_2x/lion-animal-isolated-photo.jpg);

     background-size: 100% auto; /*width height */
     background-repeat: repeat-x; /*repeat-x repeat-y repeat no-repeat*/
     background-position:  right center; /*left right top bottom center*/
        background-attachment: fixed; /*fixed */
    

}
body{
    height:1800px;
}
.box1
{
    height:50vh;
    background-image: linear-gradient(to right, red, blue, pink, green);
}
.box2
{
    height:50vh;
    background-image: radial-gradient( blue,green);
}
.box3
{
    height:90vh;
    background: linear-gradient(rgba(255, 0, 0, 0.34),rgba(255, 255, 0, 0.373)),url(https://images.unsplash.com/photo-1614027164847-1b28cfe1df60?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGlvbnxlbnwwfHwwfHx8MA%3D%3D);
    background-size: contain;
    
}