*{ margin:0; padding:0; box-sizing:border-box; }
header
{
    background: skyblue;
    color:blueviolet;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content:space-between
}
.banner
{
    background: pink;
    padding:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left ,.right{ width: 50%;}
.right img{ width:100%;}
.services{
    background: rgb(23, 133, 169);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.services > div{
    border: 2px solid black;
    padding: 20px;
}
footer{
    background:pink;
    padding:30px;
    text-align: center;
}
section{
    background: rgb(175, 11, 33);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.input
{
    border: 3px solid;
    margin: 100px 300px 100px 20px;
    padding:2px -100px 2px;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.button
{
    margin: -80px 5px 300px 50px;
    padding:10px 10px 10px 10px;
    color:blue;
    text-decoration-color: blue;

   
}