.item
{
    border: 3px solid black;
    padding: 20px;
    width:500px;
}
.flex
{
    background:green;
    display: flex;
    /*inline-flex ! flex*/
    flex-direction: row;
    /*row ! column row-reverse column-reverse*/
    flex-wrap: wrap;
    /*nowrap ! wrap wrap-reverse*/
   /* flex-flow:flex-direction flex-wrap;*/
   justify-content: start;
   /*start ! end center space-between space-around space-evenly*/
   height: 300px;;
   align-items: start;
    /*start ! end center baseline stretch*/
    align-content: start;
    /*start ! end center space-between space-around space evenly*/
    gap: 20px 30px;
    /*row,column*/
}
.box
{
    border:1px solid black;
    padding:30px;
}
.child-flex
{
    display:flex; 
    height: 300px;
}
.a
{
    flex-basis:300px;
    order:4;
    align-self: start;
    /*start ! end center baseline stretch*/
}
.b{
    flex-grow: 1;
    order:3;
    align-self: end;
}
.c{
    flex-grow:2;
    order: 2;
    align-self: center;
}
.d{
    flex-grow:3;
    order:1;
}