.box
{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background: red;
    background: linear-gradient(red blue green purple pink);
    position: absolute;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: ;
    animation-fill-mode: both;
    animation-timing-function: linear;
    /* animation: name duration timin-function delay iteration fill mode; */

}
.box:hover{
    animation-play-state: paused;
}
@keyframes move 
{
    0%,from{ top: 10px; left: 10px;}
    50% { top: 400px; left: 700px;}

    100% {  left: 1600px; top: 10px;}
    
}
.box1{
    width: 100px; height: 90px; border-radius: 0; background: blue;
    position: absolute;
    top: 100px; left: 100px;
    animation: rot 0.1s linear infinite;
}
@keyframes rot {
    50%{ transform:rotate(720deg);}
    100%{transform: rotate(0deg);}
}
.rectangle{
    width: 400px;
    height: 40px;
    background: pink;
    position: absolute;
    text-align: center;
    top: 480px;
    left: 520px;
}
.box2{
    width: 100px; height: 90px; border-radius: 0; background: blue;
    position: absolute;
    top: 400px; left: 100px;
    animation: rotate 0.1s linear infinite;
}
@keyframes rotate {
    50%{ transform:rotate(720deg);}
    100%{transform: rotate(0deg);}
}
